logs
log
**/logs
**/log
**/*.log
**/*.log*
**/log/**
**/logs/**
**/logs/*.log
**/logs/*.txt
*.log
tomcat/logs/
tmp
*/*/temp
*.tmp
.git
.svn
*.md
**/node_modules
node_modules
.cache
.idea
.vscode
*.swp
.DS_Store
Thumbs.db
**/__pycache__
*.pyc
*.pyo
*.pyd
.env
target/*