logs
log
**/logs
**/log
**/*.log
**/*.log*
**/log/**
**/logs/**
**/logs/*.log
**/logs/*.txt
*.log
**/tomcat/logs/**
tmp
.git
.svn
*.md
*.tmp
**/node_modules
node_modules
.cache
dist
.idea
.vscode
*.swp
.DS_Store
Thumbs.db
