logs/
log/
**/logs/
**/log/
**/*.log
**/*.log*
**/log/**
**/logs/**
**/logs/*.log
**/logs/*.txt
**/tomcat/**
.git/
.svn/
*.md
*.tmp
*.log
**/node_modules/
node_modules/
.cache/
dist/
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
